@import "tailwindcss";

@theme {
  --color-sidebar-bg: oklch(71.4% 0.203 305.504);
  --color-logo: oklch(25.7% 0.09 281.288);
  --color-btn-bg: oklch(25.7% 0.09 281.288);
  --color-btn-light: oklch(70% 0.203 305.504);
}
